node_modules/
dist/
build/
!app/build/
data/

.env
.env.*
!.env.example

*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo

app/node_modules/
app/dist/
app/release/
app/.env
app/.env.*
!app/env.example
app/data/
